[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

opencv-python = "*"
better-exceptions = "*"
tqdm = "*"
pyyaml = "*"
numpy = "*"
"pep8" = "*"
"autopep8" = "*"


[dev-packages]



[requires]

python_version = "3.6"
